@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
}

/* Prevent iOS from zooming in on inputs with font-size < 16px */
input,
select,
textarea {
  font-size: 16px;
}
